@use '../../styles/colors' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.label {
  font-size: 14px;
  color: $Light-900;

  .disabled & {
    color: $Dark-100;
  }
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.compact {
  max-width: 200px;
}

.input {
  flex: 1;

  width: 100%;
  height: 40px;
  padding: 6px 12px;
  padding-right: 36px;

  font-size: 14px;
  color: $Light-100;

  background-color: $Dark-500;
  border: 1px solid $Dark-100;
  border-radius: 0; // квадратные углы

  &:focus {
    border: 2px solid $Accent-700;
    outline: none;

    &::placeholder {
      color: $Light-100;
    }
  }

  &:active {
    border: 1px solid $Light-100;

    &::placeholder {
      color: $Light-100;
    }
  }

  &:disabled {
    color: $Dark-100;
    border-color: $Dark-100;

    &::placeholder {
      color: $Dark-100;
    }
  }

  &.error {
    border-color: $Danger-500;

    &:focus {
      border-color: $Danger-500;
    }
  }
}

.errorText {
  font-size: 12px;
  color: $Danger-500;
}

.iconButton,
.iconWrapper {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  color: $Light-100;
}

.iconButton {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}

